:root {
    --theme-color: #01697e;
    --light-theme-color: #00a7c8;
    --light-color: #f3f7f7;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid;
    border-color: var(--theme-color);
}

.menu-item {
    flex: 1;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    border-bottom: 5px solid;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.menu-item:hover {
    border-color: var(--theme-color);
}

.space {
    margin-top: 5em;
}

.footer {
    background-color: var(--theme-color);
    color: var(--light-color);
}

h2 {
    border-bottom: 5px solid;
    border-color: var(--theme-color);
}

.textbox {
    padding: 0.75em;
    font-size: 1.1em;
    border: 1px solid;
    border-left: 5px solid;
    border-color: var(--theme-color);
    width: 80%;
    outline: none;
}

.background-image {
    background-image: url("https://media.istockphoto.com/id/959816846/vector/art-deco-elegant-decorative-background-pattern.jpg?s=612x612&w=0&k=20&c=HNzt0oJ8awmV7J-XNI6x7NHIKKuD5CoxuJFsb0fBQdY=");
    background-repeat: repeat;
    background-position: center;
}