body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.menu-item {
    flex: 1;
    padding: 1em;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.space {
    margin-top: 5em;
}