:root {
    --theme-color: #01697e;
    --light-theme-color: #00a7c8;
    --light-color: #f3f7f7;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-color);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid;
    border-color: var(--theme-color);
    width: 100%;
}

.menu-item {
    flex: 1;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    border-bottom: 5px solid;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.menu-item:hover {
    border-color: var(--theme-color);
}

.space {
    height: 5em;
}

.sub-space {
    height: 2em;
}

.footer {
    background-color: var(--theme-color);
    color: var(--light-color);
}

h2 {
    border-bottom: 5px solid;
    border-color: var(--theme-color);
}

.textbox {
    padding: 0.75em;
    font-size: 1.1em;
    border: 1px solid;
    border-left: 5px solid;
    border-color: var(--theme-color);
    width: 85%;
    outline: none;
}

.background-image {
    background-color: var(--theme-color);
    background-image: url("../public/texture.png");
    background-repeat: repeat;
    background-position: center;
    color: #fff;
}

.button {
    background-color: var(--theme-color);
    color: var(--light-color);
    transition: 0.5s;
    display: inline-block;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 0.5em;
    font-size: 1.5em;
}

.button:hover {
    background-color: var(--light-theme-color);
}

option {
    padding: 0.5em;
}